/* ContainerView */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
}

footer > div {
  bottom: 0;
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
  margin: 0px auto;
}

.page-contents {
  position: relative;
  min-height: 100vh
}

@media (min-width:430px) {
  .responsive-footer {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    flex-direction: row!important;
  }
}

/* Navbar */
.sticky-top {
  padding-top: 15px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (min-width:460px) {
  .show-mobile {
    display: none;
  }
}

@media (max-width:460px) {
  .hide-mobile {
    display: none;
  }
}
