footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
}

footer > div {
  bottom: 0;
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
  margin: 0px auto;
}

div.search-bar {
  height: 50px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  border-radius: 1000px;
  overflow: hidden;
}

div.search-bar > input {
  outline: none;
  border: none;
  box-sizing: border-box;
  flex-grow: 2;
  background: transparent;
  font-size: 20px;
}

.bg-light

.btn-primary {
  background-color: #ff7c7c;
}

.btn-primary:hover {
  background-color: #d14e4e;
}

/* .btn-secondary {
  background-color: #ffc700;
}

.btn-secondary:hover {
  background-color: #ffb800;
} */

.btn-outline-secondary {
  color: #ffc700;
  border-color: #ffc700;
}

.btn-outline-secondary:hover {
  background-color: #ffc700;
  border-color: #ffc700;
}

.btn-outline-primary {
  color: #ff7c7c;
  border-color: #ff7c7c;
}

.btn-outline-primary:hover {
  background-color: #ff7c7c;
  border-color: #ff7c7c;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (min-width:430px) {
  .responsive-footer {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    flex-direction: row!important;
  }
}

form-control:focus {
  border-color: #ff80ff !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5) !important;
}
