.result {
  margin-top: 0;
  margin-bottom: 40px;
  border-radius: 25px;
  -webkit-transition: background-color 0.25s ease-in-out;
}

.result:hover {
  cursor: pointer;
}

.fake-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid var(--red) 5px;
  background: var(--yellow);
  display: inline-block;
}

.club-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.club-name {
  font-size: 25px;
}

.club-description {
  font-size: 15px;
  font-weight: 100;
}
