.input-area {
  height: 100px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  overflow: hidden;
}

.input-area > textarea {
  height: 90%;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  flex-grow: 2;
  background: #ffffff;
  font-size: 15px;
}
