div.search-bar {
  height: 50px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  border-radius: 1000px;
  overflow: hidden;
}

div.search-bar > input {
  outline: none;
  border: none;
  box-sizing: border-box;
  flex-grow: 2;
  background: transparent;
  font-size: 20px;
}

#search-btn {
  border-radius: 50%;
}

@media (max-width: 520px) {
  #search-btn {
    display: none;
  }
}
