.card {
  box-sizing: border-box;
  min-height: 20vh;
  /* max-height: 400px; */
}

.fake-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid var(--red) 5px;
  background: var(--yellow);
  display: inline-block;
}

.club-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.card-title {
  font-size: 18px;
}

.card-text {
  margin-left: 0;
  margin-right: 0;
  font-size: 15px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-text {
    overflow: visible;
    white-space: normal;
  }
  .card-title {
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    display: none;
  }
}
