body {
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --gray: #f0f0f0;
  --logo-yellow: #fab728;
  --light-yellow: #ffebad;
  --logo-red: #b50d1e;
  --light-red: #ffd1d1;
}

.goButton {
  text-align: center;
  justify-content: left;
  align-items: left;
  margin: auto;
  padding-top: 12rem;
  padding-bottom: 4rem;
}

.inputBar {
  padding-top: 12rem;
  padding-bottom: 4rem;
}

.hline {
  align-items: left;
}
