
#jumbo-logo {
	width: 40rem;
	height: auto;
}

.centered {
	padding-top: 12rem;
	padding-bottom: 4rem; 
  }

.center {
	text-align: center; 
	display: block; 
	justify-content: center; 
	align-items: center; 
	margin: auto;  
}

input {
	background-color: #f0f0f0;
	height: 60px; 
	width: 37rem; 
	border: none !important; 
	font-size: 1.6em;
	padding-left: 1em;  
}

input::placeholder {
	color: #404040; 
	text-align: justify; 
}

Button {
	height: 2.5rem; 
	width: 12rem; 
	background-color: #b50d1e; 
	border: none !important; 
	font-size: 1.6em; 
	color: #fab728;
	border-radius: 10px;
}

.submit-button-padding {
	padding-top: 3rem; 
}

.password-login-padding {
	padding-top: 3rem; 
}